<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,155}</string>
                <key>spriteSourceSize</key>
                <string>{318,155}</string>
                <key>textureRect</key>
                <string>{{663,1},{318,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,155}</string>
                <key>spriteSourceSize</key>
                <string>{318,155}</string>
                <key>textureRect</key>
                <string>{{653,158},{318,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,155}</string>
                <key>spriteSourceSize</key>
                <string>{318,155}</string>
                <key>textureRect</key>
                <string>{{653,315},{318,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cxks-f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,127}</string>
                <key>spriteSourceSize</key>
                <string>{650,127}</string>
                <key>textureRect</key>
                <string>{{1,126},{650,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cxks-h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,123}</string>
                <key>spriteSourceSize</key>
                <string>{650,123}</string>
                <key>textureRect</key>
                <string>{{1,255},{650,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cxks-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,123}</string>
                <key>spriteSourceSize</key>
                <string>{660,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{660,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>del.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{570,1507},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,123}</string>
                <key>spriteSourceSize</key>
                <string>{297,123}</string>
                <key>textureRect</key>
                <string>{{900,1070},{297,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dzms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,119}</string>
                <key>spriteSourceSize</key>
                <string>{298,119}</string>
                <key>textureRect</key>
                <string>{{707,792},{298,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,155}</string>
                <key>spriteSourceSize</key>
                <string>{318,155}</string>
                <key>textureRect</key>
                <string>{{346,867},{318,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,155}</string>
                <key>spriteSourceSize</key>
                <string>{318,155}</string>
                <key>textureRect</key>
                <string>{{289,1187},{318,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,155}</string>
                <key>spriteSourceSize</key>
                <string>{318,155}</string>
                <key>textureRect</key>
                <string>{{446,1187},{318,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fh-f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,94}</string>
                <key>spriteSourceSize</key>
                <string>{447,94}</string>
                <key>textureRect</key>
                <string>{{1,1093},{447,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fh-h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,94}</string>
                <key>spriteSourceSize</key>
                <string>{447,94}</string>
                <key>textureRect</key>
                <string>{{97,1093},{447,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fh-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,94}</string>
                <key>spriteSourceSize</key>
                <string>{447,94}</string>
                <key>textureRect</key>
                <string>{{193,1093},{447,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,224}</string>
                <key>spriteSourceSize</key>
                <string>{343,224}</string>
                <key>textureRect</key>
                <string>{{1,867},{343,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,155}</string>
                <key>spriteSourceSize</key>
                <string>{318,155}</string>
                <key>textureRect</key>
                <string>{{503,867},{318,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,155}</string>
                <key>spriteSourceSize</key>
                <string>{318,155}</string>
                <key>textureRect</key>
                <string>{{603,1187},{318,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,155}</string>
                <key>spriteSourceSize</key>
                <string>{318,155}</string>
                <key>textureRect</key>
                <string>{{550,495},{318,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,124}</string>
                <key>spriteSourceSize</key>
                <string>{242,124}</string>
                <key>textureRect</key>
                <string>{{760,1183},{242,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jx-f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,122}</string>
                <key>spriteSourceSize</key>
                <string>{547,122}</string>
                <key>textureRect</key>
                <string>{{1,495},{547,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jx-h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,122}</string>
                <key>spriteSourceSize</key>
                <string>{547,122}</string>
                <key>textureRect</key>
                <string>{{1,619},{547,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jx-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,122}</string>
                <key>spriteSourceSize</key>
                <string>{547,122}</string>
                <key>textureRect</key>
                <string>{{1,743},{547,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,155}</string>
                <key>spriteSourceSize</key>
                <string>{318,155}</string>
                <key>textureRect</key>
                <string>{{707,472},{318,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>l-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,155}</string>
                <key>spriteSourceSize</key>
                <string>{318,155}</string>
                <key>textureRect</key>
                <string>{{864,472},{318,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>l-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,155}</string>
                <key>spriteSourceSize</key>
                <string>{318,155}</string>
                <key>textureRect</key>
                <string>{{660,913},{318,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,46}</string>
                <key>spriteSourceSize</key>
                <string>{93,46}</string>
                <key>textureRect</key>
                <string>{{603,380},{93,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,45}</string>
                <key>spriteSourceSize</key>
                <string>{177,45}</string>
                <key>textureRect</key>
                <string>{{289,1507},{177,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,102}</string>
                <key>spriteSourceSize</key>
                <string>{240,102}</string>
                <key>textureRect</key>
                <string>{{760,1427},{240,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,113}</string>
                <key>spriteSourceSize</key>
                <string>{600,113}</string>
                <key>textureRect</key>
                <string>{{1,380},{600,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,55}</string>
                <key>spriteSourceSize</key>
                <string>{69,55}</string>
                <key>textureRect</key>
                <string>{{289,1093},{69,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shareIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{468,1507},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,111}</string>
                <key>spriteSourceSize</key>
                <string>{238,111}</string>
                <key>textureRect</key>
                <string>{{660,1070},{238,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Common2.png</string>
            <key>size</key>
            <string>{1024,1576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fc147cff2950342ba89089484c18c56:785a9cd504255b979baac0ffd958990f:a39b0ec4a66c3584a15b6c384317e242$</string>
            <key>textureFileName</key>
            <string>Common2.png</string>
        </dict>
    </dict>
</plist>
